@model Predictr.ViewModels.VM_MyPredictr

@{
    ViewData["Title"] = "Index";
}

<h2>My Predictions</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Date/Time
            </th>
            <th>
                Home
            </th>
            <th>
                H.Score
            </th>
            <th>
                A.Score
            </th>
            <th>
                Away
            </th>
            <th>
                Actual Result
            </th>
            <th>
                Points
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Predictions)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fixture.FixtureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fixture.Home)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fixture.Away)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fixture.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>


        </tr>
        }
    </tbody>
</table>


<h2>Un-Predicted Games</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Group
            </th>
            <th>
                Date/Time
            </th>
            <th>
                Home
            </th>
            <th>
                H.Score
            </th>
            <th>
                vs
            </th>
            <th>
                A.Score
            </th>
            <th>
                Away
            </th>
            <th>
                Result
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UnPredictedFixtures)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixtureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Home)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeScore)
            </td>
            <th>
                vs
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.AwayScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Away)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>

            <td>
                <a asp-area="" asp-controller="Predictions" asp-action="Create" asp-route-id="@item.Id">Make Prediction</a>
            </td>
        </tr>
        }
    </tbody>
</table>