@model Predictr.Models.Fixture

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FixtureDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FixtureDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Home)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Home)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Away)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Away)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AwayScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AwayScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
