@model IEnumerable<Predictr.Models.Fixture>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FixtureDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeTeamId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AwayTeamId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AwayTeamScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FixtureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
